* {
    width: 1000px;
    margin: auto;
    
}

.logo {
    max-height: 20%;
    max-width: 20%;
    margin-left: 10px;
    margin-top: 50px;
}

header{
    background: url(../img/pattern.png), #4fa0fe;
    height: 150px;
}

main{
    margin-left: 10px;
}
.titolo {
    margin-top: 20px;
}

.tim{
 display: inline-block;
}