.logo {
    max-height: 20%;
    max-width: 20%;
    margin-left: 10px;
    margin-top: 75px;
}

header{
    background: url(../img/pattern.png), #4fa0fe;
    height: 150px;
}

.titolo {
    margin-top: 20px;
}

.evidenziato{
 background-color: yellow;
}